body {
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     margin: 0;
     Padding: 0;
}

Header {
    background-color: black;
    color:beige;
    Padding:10px
}

nav a {
   color:aquamarine;
   margin: 0  10px;

}

